extends layout

block scpt
    script.
        $document.ready(function() {
            function change_desc()
            {
                $("#desc").css("color","red")
            }
        })
        

block content
    h1 #{title}
    |
    |
    div(id="desc") description
    |
    |
    button(class="button", onclick="change_desc()") 테스트
