extends layout

script.
    function change_desc()
    {
        $('#desc').text('hello~')
    }

block content
    h1 #{title}
    |
    |
    p(id="desc") description
    |
    |
    button(class="button", onclick="change_desc()") 테스트
