extends layout

block scpt
    script.
        $("p").css("color","red")

block content
    h1 #{title}
    |
    |
    p(id="desc") 
        div description
    |
    |
    button(class="button", onclick="change_desc()") 테스트
