extends layout

block scpt
    script.
        function change_desc()
        {
            document.write("hello, world!")
        }
    

block content
    h1 #{title}
    |
    |
    div(id="desc") description
    |
    |
    input(class="button", type="submit", value="메세지", onclick="change_desc()")
