extends layout

block scpt
    script.
        $(function change_desc()
        {
            document.write($('#desc').html())
        }
        change_desc())

block content
    h1 #{title}
    |
    |
    p(id="desc") 
        div description
    |
    |
    button(class="button", onclick="change_desc()") 테스트
