extends layout

block content
  p #{db}
  form(action="/api/notionUpdate", method="post") 
    input(type="hidden",name="portal", value=iam )
    input(class="button", type="submit", value="get Notion -> DB" )

  a(class="button" , href=iam) reload DB

  form(action="/")