extends layout

block content
  h1 #{title}
  p Welcome to #{title}
  p #{iam}
  form(action="/api/notionUpdate", method="post") 
    input(type="hidden",name="portal", value=iam )
    input(class="button", type="submit", value="Go" )
