extends layout

block content
  div
    p.is-size-1.has-text-centered this is the bulma tester.
    p testtest
    div 
      a(class="button" , href=iam, style={}) iammoving!!
    p testtest
  div.columns
  div.column.if-two-thirds
    p hi
    div.column
      form(action="/api/notionUpdate", method="post") 
        input(type="hidden",name="portal", value=iam )
        input(class="button", type="submit", value="get Notion -> DB" )
    div.column
      form(action="/api/pythonCalc/test", method="post")
        input(type="hidden",name="dir", value=iam )
        input(class="button", type="submit", value="Python Calculate" )
    
