extends layout

block content
div.coloumns
    div.coloumn
      p hi
    div.coloumn
      p hi
    div.cououmn
      p hi
  div.coloumns
    div.coloumn
      p.is-size-1.has-text-centered this is the bulma tester.
      p testtest
      div 
        a(class="button" , href=iam, style={}) iammoving!!
      p testtest
    div.coloumn
      form(action="/api/notionUpdate", method="post") 
        input(type="hidden",name="portal", value=iam )
        input(class="button", type="submit", value="get Notion -> DB" )
    div.cououmn
      form(action="/api/pythonCalc/test", method="post")
        input(type="hidden",name="dir", value=iam )
        input(class="button", type="submit", value="Python Calculate" )
    
