extends layout

block content
  p #{send}
  form(action="/api/notionUpdate", method="post") 
    input(type="hidden",name="portal", value=iam )
    input(class="button", type="submit", value="get Notion -> DB" )
  a(class="button" , href="/home") reload DB