extends layout

block content
  div.section
    p.is-size-1.has-text-centered this is the bulma tester.
    p testtest
    =#{db}
    p testtest

  form(action="/api/notionUpdate", method="post") 
    input(type="hidden",name="portal", value=iam )
    input(class="button", type="submit", value="get Notion -> DB" )

  a(class="button" , href=iam) reload DB

  form(action="/api/pythonCalc/test", method="post")
    input(type="hidden",name="dir", value=iam )
    input(class="button", type="submit", value="Python Calculate" )