doctype html
html
    head
        title #{title}
        link(rel='stylesheet', href="/css/mystyles.css")
        block script        
        script(src="node_modules/jquery/dist/jquery.js", type="text/javscript")

    body
        block content

