doctype html
html
    head
        title= #{title}
        link(rel='stylesheet', href="/bulma/css/bulma.css")
        script(src="node_modules/jquery/dist/jquery.js", type="text/javscript") 
        block scr
    body
        h1 title
        block content