doctype html
html
    head
        title #{title}
        link(rel='stylesheet', href="/css/mystyles.css")
        script(src="node_modules/jquery/dist/jquery.js", type="text/javscript")
    body
        div.columns
            div.column.is-three-quaters
                p this is empty space for rate visualgraphics.
            div.column
                form(action="/home")
                    input(class="button", type="submit", value="Back" )
            
        

        script.
            