doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href="/css/mystyles.css")
    script(src="node_modules/jquery/dist/jquery.js", type="text/javscript")
  body
    div.columns
      div.column.is-10
        p this is empty space for rate visualgraphics.
      div.column
        div.coloumns
          div.couumn
            form(action="/api/ratesSet/", method="post")
              input(type="hidden",name="portal3", value=iam )

              input.slider.is-fullwidth(id="sliderWithValue2" name="ignorance" step="1" min="1" max="5" value="1" type="range")
              output(for="sliderWithValue2" ) iamoutput2

              input.input(type="text" name="prop_name" placeholder="Property name" value="")

              input.slider.is-fullwidth(id="sliderWithValue" name="rate_abs" step="1" min="0" max="100" value="50" type="range")
              output(for="sliderWithValue" ) iamoutput

              input.button(type="submit", value="submit")
          div.column
            form(action="/home")
              input(class="button", type="submit", value="Back" )
      
    

    script.
        