doctype html
html
    head
        title #{title}
        link(rel='stylesheet', href="/css/mystyles.css")
        script(src="node_modules/jquery/dist/jquery.js", type="text/javscript")
    body
        form(action="/home", method="post")
            input(class="button", type="submit", value="Set density of props" )

        script.
            