doctype html
script. 
    var sending = "#{send}"
    if (sending != Null)
    {
        var warp = "#{portal}?send=#{send}"
    }
    else 
    {
        var warp = "#{portal}"
    }
    location.href = warp
