doctype html

p(id="testid") hello... i am p...

script. 
    var send = "#{send}"
    var warp = "#{portal}"
    if (send != "")
    {
        warp = warp + "/?send=" + send
    }
    location.href = warp
